html, body {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;

  overflow-x: hidden;

  font-family: 'helvetica', 'sans-serif';
}

a {
  color: inherit;
  text-decoration: inherit;
}
