html, body {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}
